@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #1C77C3;
  --color-secondary: #001f3f;
  --breakpoint-xs: 375px;
}

@layer base {
  body {
    @apply antialiased font-sans bg-white text-slate-900 overflow-x-hidden w-full;
  }
}

.glass {
  @apply bg-white/80 backdrop-blur-md;
}
